* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
html{
  scroll-behavior:smooth;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
}
html {
  scroll-behavior: smooth;
}